<?xml version="1.0" encoding="utf-8" ?>

<!-- ImageResizer.NET -->
<resizer>
    
	<diagnostics enableFor="Localhost" /> <!-- AllHosts, None -->
    
    <plugins>
        <add name="DiskCache" /> <!-- requires Performance Bundle (licence) -->
        <add name="Presets" /> <!-- Free bundle -->
        
        <add name="ResponsivePresets.ImageResizerPlugin" />
    </plugins> 
    
    <presets onlyAllowPresets="false">
        <preset name=".galleryimage" settings="width=800&amp;quality=20&amp;format=jpg" />
		<preset name="mobile.galleryimage" settings="width=400" />
		<preset name="tablet.galleryimage" settings="width=800" />
        <preset name="desktop.galleryimage" settings="width=1500" />
        <preset name="hires.galleryimage" settings="width=2400" />
    </presets>
    
    <responsivepresets>
        <preset prefix="mobile" minwidth="0" maxwidth="480" />
        <preset prefix="tablet" minwidth="481" maxwidth="1440" />
        <preset prefix="desktop" minwidth="1441" maxwidth="2549" />
        <preset prefix="hires" minwidth="2560" maxwidth="0" />
    </responsivepresets>
 </resizer>
