<?xml version="1.0" encoding="utf-8" ?>

<!-- ImageResizer.NET -->
<resizer>
    
	<diagnostics enableFor="Localhost" /> <!-- AllHosts, None -->
    
    <plugins>
        <add name="DiskCache" /> <!-- requires Performance Bundle (licence) -->
        <add name="Presets" /> <!-- Free bundle -->
    </plugins> 
    
    <presets onlyAllowPresets="false">
		<preset name="mobile.galleryimage" settings="width=400" />
        <preset name="desktop.galleryimage" settings="width=1500" />
        <preset name="hires.galleryimage" settings="width=2400" />
    </presets>
    
    <responsivepresets respectPixelDensity="true">
        <preset prefix="mobile" />
        <preset prefix="desktop" media="(min-width: 960px)" />
        <preset prefix="hires" media="(min-width: 2000px)" />
    </responsivepresets>
 </resizer>
