<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
     <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer"  requirePermission="false"  />
 </configSections>

<resizer configSource="ImageResizer.config" />

 <system.web>
	<customErrors mode="RemoteOnly" />
 </system.web>

 <system.webServer>
     <validation validateIntegratedModeConfiguration="false"/>
     <modules>
         <!-- IIS7+ Integrated mode -->
         <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
         <add name="ResponsivePresetsModule" type="ResponsivePresets.FilterModule.ActivateFilterModule, ResponsivePresets"/>
     </modules>
 </system.webServer>
</configuration>
