<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
  </configSections>
  <resizer>
    <diagnostics enableFor="Localhost"/>
    <!-- AllHosts, None -->
    <plugins>
      <add name="DiskCache" />    <!-- requires Performance Bundle (licence) -->
      <add name="Presets" />      <!-- Free bundle -->
    </plugins>
    <presets onlyAllowPresets="false">
      <preset name="sample" defaults="width=800&amp;quality=90" settings="format=jpeg" />
    </presets>
  </resizer>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.5"/>
    <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
      <add name="SlimResponseModule" type="Imazen.SlimResponse.SlimResponseModule, Imazen.SlimResponse"/>
    </httpModules>
    -->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- IIS7+ Integrated mode -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
      <add name="SlimResponseModule" type="Imazen.SlimResponse.SlimResponseModule, Imazen.SlimResponse"/>
    </modules>
  </system.webServer>
</configuration>